.button {
    margin: 0;
    padding: 0;
    border: none;
    text-align: center;
    white-space: nowrap;
    
    &--blue {
        background-color: #0191D3;
    }
    &--transparent {
        background-color: transparent;
        color: #fff;
    }

    &--disabled,
    &:disabled {
        opacity: 0.1;
        &:hover {
            opacity: 0.1;
        }
    }
}