.calendar {
    max-width: 346px;
    background-color: #1E2133;
    border-radius: 10px;

    margin: 0 auto;
    margin-bottom: 25px;

    padding-top: 23px;
    padding-bottom: 41px;
    padding-left: 27px;
    padding-right: 27px;
}

.calendar__add-btn {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;

    background-color: transparent;
    border: none;

    color: $blue;

    display: flex;
    padding: 0;
    margin-bottom: 16px;
}

.calendar__list {
    @include list-reset();

    display: flex;
    padding-top: 6px;
    padding-left: 2px;

    font-size: 15px;
}

.calendar__btn-icn {
    width: 21px;
    height: 20px;

    margin-right: 5px;
}

.calendar__item {
    display: flex;
    font-display: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    background-color: transparent;
    width: 20px;
    height: 80px;

    &:not(:last-child) {
        margin-right: 28px;
    }

    &--active {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            width: 32px;
            height: 80px;
            background-color: rgba(1, 145, 211, 0.5);
            border-radius: 20px;
            left: -7px;
        }
    }

    &--approved{
        position: relative;

        &::after {
            position: absolute;
            content: "";
            width: 8px;
            height: 8px;
            background-color: $green;
            border-radius: 50%;
            left: 50%;
            margin-left: -4px;
            top: 86px;
        }
    }
}

.calendar__date {
    color: #ffffff;
}