.event {
    width: 100%;

    margin-bottom: 45px;
}

.event__title {
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
}

.event__text {
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 30px;

    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
}

.event__time,
.event__weekpart,
.event__time-value {
    margin: 0;
    padding: 0;
}

.event__time {
    display: flex;
    flex-wrap: wrap;

    width: 245px;
    margin: 0 auto;
}

.event__weekpart {
    margin-right: 5px;
}

.event__socials {
    @include list-reset();
    
    display: flex;
    justify-content: space-between;
    
    width: 180px;
    margin: 0 auto;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.event__socials-icon {
    width: 25px;
    height: 25px;
}

.event__tag-list {
    @include list-reset();
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    width: 100%;
    max-width: 420px;
    padding-bottom: 20px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.event__tag-item {
    background-color: #0F3D5C;

    padding: 5px 16px;
    border-radius: 10px ;
    margin-bottom: 14px;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.event__tag-link {
    color: #ffffff;
    letter-spacing: -1px;
}

.event__buttons-wrapper {
    display: flex;
    justify-content: flex-start;
    max-width: 390px;
    width: 100%;
    margin: 0 auto;
}

.event__button {
    border: none;
    background-color: transparent;
    
    &--main {
        background-color: $blue;
        border-radius: 10px;
        padding: 14px 50px;
        
        color: white;
        font-size: 18px;
        margin: 0;
        margin-left: 4px;
        
        white-space: nowrap;
    }

    &:not(:last-child) {
        margin-right: 33px;
    }

    &:not(:first-child) {
        transform: translateY(-5px);
    }

    &:last-child {
        transform: translateX(-15px);
    }
}

.event__map {
    margin: 0 auto;
    max-width: 345px;
    transform: translateX(5px);

    position: relative;
    border-radius: 15px;
    
    background-image: url("../img/map.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 14px;
}

.event__map iframe {
    width: 100%;
    max-width: 345px;
    border-radius: 15px;
}

.event__map-pin {
    position: absolute;

    width: 50px;
    height: 50px;
    
    top: 50%;
    margin-top: -45px;
    left: 50%;
    margin-left: -15px;
}

.event__address {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 35px;
}

@media (min-width: 819px) {
    .event {
        display: flex;
        justify-content: space-between;

        
        padding-top: 5px;
    }

    .event__text {
        text-align: left;
    }

    .event__time {
        margin: 0;
        margin-bottom: 30px;
    }

    .event__socials {
        margin: 0;
        margin-left: 5px;
        margin-bottom: 35px;
    }

    .event__tag-list {
        margin: 0;
        margin-bottom: 20px;
        padding-top: 5px;
    }

    .event__buttons-wrapper {
        margin: 0;
    }

    

    .event__map {
        margin: 0;
        margin-bottom: 14px;
    }

    .event__address {
        margin: 0;
        margin-bottom: 35px;
    }
}

@media (min-width: 870px) {
    .event {
        padding: 0 60px;
    }

    .event__button {
        &--main {
            padding: 14px 59px;
        }
    }
}