.hover-block {
    width: 100%;
    z-index: 10;
    padding-top: 40%;
}

.hover-block__hover-btn-wrapper {
    @include list-reset();

    display: flex;
    max-width: 140px;
    margin: 0 auto;
    margin-bottom: 27px;
    padding-top: 4px;
    justify-content: space-between;
}

.hover-block__hover-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    
    &:hover,
    &:active {
        opacity: 1;
        svg {
            fill: #0191D3;
        }
    }

    &--play {
        @include hover-focus-active-link();
        position: relative;
        width: 45px;
        height: 45px;
        margin-top: -6px;
        border-radius: 50%;
        background-color: rgba(1, 145, 211, 0.6);
        
        &::before {
            position: absolute;
            content: "";
            width: 16px;
            height: 19px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("data:image/svg+xml,%3Csvg width='16' height='20' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }
}

.hover-block__button-icn {
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    fill: #ffffff;

}

.hover-block__info {
    display: block;
    margin: 0 auto;
    width: 84px;
}
