.logo-header {
    width: 90px;
    height: 15px;
}

.logo-header img {
    width: 90px;
    height: 15px;
}

@media (min-width: $tablet) {
    .logo-header {
        width: 100px;
        height: 21px;
    }
    
    .logo-header img {
        width: 100px;
        height: 21px;
    }
}