.main {
    background-color: $bg-blue;

    margin-bottom: 47px;

    &--event {
        .main__menu {
            display: none;
        }

        .main__main-slider {
            min-height: 570px;
        }
    }
}

@media (min-width: 733px) and (max-width: 915px) {
    .main {
        &--event {
            .main__main-slider {
                min-height: 420px;
            }
        }
    }
}

.main__wrapper {
    width: 100%;
    max-width: 1423px;
    margin: 0 auto;
    padding-left: 39px;
    padding-right: 40px;
    padding-top: 35px;
}

.main__menu {
    margin-bottom: 38px;
}

.main__main-slider,
.main__slider {
    margin-bottom: 33px;

    &--round {
        margin-bottom: 70px;
    }

    &--for-round {
        margin-bottom: 70px;
    }

    &--square {
        margin-bottom: 70px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &--video-player {
        max-width: 1200px;
        margin: 0 auto;
        padding-top: 70px;
        
    }
}

.main__popups {
    position: relative;
}

