.main-nav {
    position: relative;

    &--open {
        padding-bottom: 150px;
    }
}

.main-nav__list {
    @include list-reset();

    display: flex;
    flex-direction: column;
    
    position: absolute;
    background-color: $dark-blue;
    
    width: 100vw;
    
    top: 40px;
    left: -15px;

    &--hidden-mobile {
        display: none;
    }
    
}

.main-nav__item {
    display: flex;
}

.main-nav__link {
    display: block;
    margin: 0 auto;
    padding: 5px 0;

    &--current {
        color: $blue;
    }
}

.main-nav__toggle {
    position: relative;
    padding: 0;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 12px;

    &--close {
        svg {
            display: none;
        }

        &::before {
            position: absolute;
            content: "";
            width: 2px;
            height: 15px;
            background-color: $gray;
            left: 8px;
            top: -1px;
            transform: rotate(45deg);
        }

        &::after {
            position: absolute;
            content: "";
            width: 2px;
            height: 15px;
            background-color: $gray;
            left: 8px;
            top: -1px;
            transform: rotate(135deg);
        }
    }
}

@media (min-width: $tablet) {
    .main-nav {
    
        &--open {
            padding-bottom: 0px;
        }
    }

    .main-nav__toggle {
        display: none;
    }
    
    .main-nav__list {
        padding-top: 0px;
        position: initial;
        flex-direction: row;
        width: unset;
        max-width: 384px;
        margin-left: 40px;

        &--hidden-mobile {
            display: flex;
        }
    }


    .main-nav__item:not(:last-child) {
        margin-right: 20px;
    }

    .main-nav__link {
        padding: 0;
        padding-top: 2px;
    }
}