.main-slide {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    background-image: url("../img/image53.jpg");
    background-repeat: no-repeat;
    background-position: 0 -1px;
    background-size: cover;
    
    color: #ffffff;
    
    padding-left: 148px;
    padding-top: 158px;
    padding-right: 152px;
    padding-bottom: 60px;

    border-radius: 16px;
}

@media (min-resolution: $retina) {
    .main-slide {
        background-image: url("../img/image53@2x.jpg");
    }
}

.main-slide__title {
    margin: 0;
    margin-bottom: 8px;

    font-weight: 600;
    font-size: 50px;
    line-height: 68px;
}

.main-slide__author {
    margin: 0;
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.main-slide__description {
    margin: 0;
    margin-bottom: 13px;

    width: 418px;
    font-size: 18px;
    line-height: 25px;
}

.main-slide__address {
    font-style: normal;
}

.main-slide__address-icon {
    position: relative;
    top: 7px;
    left: -2px;
}

.main-slide__more {
    margin-top: 16px;
    background: rgba(15, 17, 29, 0.76);
    padding: 22px 28px;
    padding-bottom: 37px;
    border-radius: 16px;
}

.main-slide__info {
    @include list-reset();
    
    padding-top: 7px;
    padding-right: 19px;
    margin-bottom: 22px;
}

.main-slide__date,
.main-slide__date-value,
.main-slide__price,
.main-slide__price-value {
    margin: 0;
    padding: 0;

}

.main-slide__price,
.main-slide__date {
    margin-bottom: 9px;
    letter-spacing: 0.5px;
}

.main-slide__date-value,
.main-slide__price-value {
    text-transform: lowercase;
    font-size: 16px;
    color: $gray;
    
    &:not(:last-child) {
        margin-bottom: 10px;
    } 
}

.main-slide__more-btn {
    display: block;
    border: none;
    background-color: $blue;
    border-radius: 10px;
    padding: 14px 59px;

    color: white;
    font-size: 18px;
    margin: 0;
    margin-left: 4px;
}