.player {
    max-width: 536px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;

    padding-top: 60px;
    border-radius: 12px;

    font-size: 30px;
    position: relative;
    z-index: 2;
}

@media (min-width: 1333px) {
    .player {
        margin: 0;
    }
}

@media (min-width: $tablet) {
    .player {
        width: 536px;
    }
}

.player__title {
    margin: 0;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 90px;
}

.player__author {
    font-weight: normal;
    font-size: 29px;

    margin-bottom: 10px;
}

.player__controls {
    display: flex;
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 110px;
    justify-content: space-between;
}

.player__btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    &--play,
    &--pause {
        width: 103px;
        height: 103px;
        background-color: rgba(1, 145, 211, 0.6);
        border-radius: 50%;
        position: relative;
    }

    &--play::before {
        position: absolute;
        content: "";
        width: 35px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 16 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.76683 16.648C4.54863 18.9034 2.93953 20.0312 1.5723 19.6343C0.205078 19.2374 0.205078 17.6425 0.205078 14.4529V6.02736C0.205078 2.8377 0.205078 1.24287 1.5723 0.845969C2.93953 0.44907 4.54863 1.57679 7.76683 3.83222L13.7779 8.04497C15.2544 9.07977 15.9926 9.59717 15.9926 10.2401C15.9926 10.8831 15.2544 11.4005 13.7779 12.4353L7.76683 16.648Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &--pause::before, 
    &--pause::after {
        position: absolute;
        content: "";
        width: 25px;
        height: 45px;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='47' viewBox='0 0 25 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.15845 2.77734C5.15845 1.39663 4.03916 0.277344 2.65845 0.277344C1.27774 0.277344 0.158447 1.39663 0.158447 2.77734H5.15845ZM0.158447 43.618C0.158447 44.9987 1.27774 46.118 2.65845 46.118C4.03916 46.118 5.15845 44.9987 5.15845 43.618H0.158447ZM0.158447 2.77734V43.618H5.15845V2.77734H0.158447Z' fill='white'/%3E%3Cpath d='M24.3422 2.77734C24.3422 1.39663 23.2229 0.277344 21.8422 0.277344C20.4615 0.277344 19.3422 1.39663 19.3422 2.77734H24.3422ZM19.3422 43.618C19.3422 44.9987 20.4615 46.118 21.8422 46.118C23.2229 46.118 24.3422 44.9987 24.3422 43.618H19.3422ZM19.3422 2.77734V43.618H24.3422V2.77734H19.3422Z' fill='white'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.player__btn-icn {
    width: 34px;
    height: 34px;

    &--share {
        fill: #ffffff;
    }
}

.player__img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;

    img {
        width: 100%;
        height: 100%;
        border-radius: 12px;
    }
}

.player__info {
    font-size: 27px;

    svg {
        width: 32px;
        height: 32px;
        margin-top: 4px;
    }
}