.slide {
    display: flex;
    flex-direction: column; 
    
    &--video {
        flex-direction: row; 
        flex-wrap: wrap;
        min-width: 319px;
    }
}

.slide__title {
    order: 4;

    margin: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 20px;

    &--round {
        margin: 0 auto;
    }
}

.slide__title-link {
    color: #ffffff;
}

.slide__img-link {
    &--video {
        margin: 0;
        margin-bottom: 10px;
        padding: 0;
        border: none;
        background-color: transparent;
        position: relative;

        &::before {
            cursor: pointer;
            position: absolute;
            content: "";
            width: 45px;
            height: 45px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='22.9972' cy='23.1691' r='22.4191' fill='%230191D3' fill-opacity='0.6'/%3E%3Cpath d='M25.176 29.5767C21.9578 31.8322 20.3487 32.9599 18.9815 32.563C17.6143 32.1661 17.6143 30.5712 17.6143 27.3816V18.9561C17.6143 15.7664 17.6143 14.1716 18.9815 13.7747C20.3487 13.3778 21.9578 14.5055 25.176 16.7609L31.187 20.9737C32.6636 22.0085 33.4018 22.5259 33.4018 23.1688C33.4018 23.8118 32.6636 24.3292 31.187 25.364L25.176 29.5767Z' fill='white'/%3E%3C/svg%3E%0A");
        }
    }

    &--round {
        margin-bottom: 14px;
    }

    &--square {
        margin-bottom: 10px;
    }
}

.slide__img {
    order: 1;

    border-radius: 16px;
    
    &--round {
        border-radius: 50%;
    }
}

.slide__author {
    order: 2;

    margin: 0;

    font-weight: 400;
    font-size: 16px;

    &--round {
        margin: 0 auto;
        line-height: 15px;
        margin-bottom: 4px;
    }

    &--video {
        // margin-right: 29%;
    }
}

.slide__info {
    display: inline;
    margin: 0;
    order: 3;
}