.slide {
    display: flex;
    flex-direction: column; 
    
    &--video {
        flex-direction: row; 
        flex-wrap: wrap;
        min-width: 319px;
    }
}

.slide__title {
    order: 4;

    margin: 0;

    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    &--round {
        margin: 0 auto;
    }
}

.slide__title-link {
    color: #ffffff;
}

.slide__img-link {
    &--video {
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
    }
}

.slide__img {
    order: 1;

    border-radius: 16px;
    
    &--round {
        border-radius: 50%;
    }
}

.slide__author {
    order: 2;

    margin: 0;

    font-weight: 400;
    font-size: 16px;

    &--round {
        margin: 0 auto;
    }

    &--video {
        margin-right: 90px;
    }
}

.slide__info {
    display: inline;
    margin: 0;
    order: 3;
}