.socials {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
    width: 60%;
    &__icon {
        width: 32px;
        height: 33px;
        &--ig {
            height: 40px;
            width: 42px;
            transform: translateY(-5px);
        }
    }

}