.user-nav__list {
    @include list-reset();
    display: flex;
    padding-right: 2px;
}

.user-nav__item {
    &:not(:last-child) {
        margin-right: 32px;
    }
}

.user-nav__btn {
    border: none;
    background-color: transparent;
    margin: 0;
    margin-top: 5px;
    padding: 0;

    &--avatar {
        border: 1px solid #131524;
        border-radius: 50%;
        margin-top: -2px;
    }
}